%h1 Listing similar_actresses

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @similar_actresses.each do |similar_actress|
    %tr
      %td= similar_actress.name
      %td= link_to 'Show', similar_actress
      %td= link_to 'Edit', edit_similar_actress_path(similar_actress)
      %td= link_to 'Destroy', similar_actress, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Similar actress', new_similar_actress_path
