-# coding: utf-8
- if @actress && !@actress.similars.empty?
  %h3 
    = "#{@actress.name} に似ている女優"
  - @actress.similars = @actress.similars.sort_by{rand}
  -# トップページなら全部、それ以外なら6個
  - @lis = request.path=="/" ? 6  : 2
  - @uls = request.path=="/" ? @actress.similars.size / 6  : 1
  - @uls.times do |i|
    %ul.thumbnails
      - (i*@lis).upto(i*@lis+@lis-1) do |n|
        - actress = @actress.similars[n]
        - if actress
          %li.span2
            = link_to actress,class: :thumnail do
              %img{:src=>"#{actress.thumbnail_rand}",:onerror=>"this.src='/assets/no_image.gif';this.width='128';this.height='128';this.style.left=0;",:style=>"left:0px;",:alt=>"#{actress.name}",:title=>"#{actress.name}"}
            = link_to actress do
              = actress.name + " #{actress.photos.size.to_s}枚"

- if request.path=="/" 
  = render :partial => "what_new"
 

- if request.path=="/" 
  %h3 おすすめ女優
- else
  %h3 ピックアップ
- @actresses = @actresses.sort_by{rand}
-# トップページなら全部、それ以外なら6個
- @lis = request.path=="/" ? 6  : 2
- @uls = request.path=="/" ? @actresses.size / (params["full"] ? 6 : 18)  : 1
- @uls.times do |i|
  %ul.thumbnails
    - (i*@lis).upto(i*@lis+@lis-1) do |n|
      - actress = @actresses[n]
      - if actress
        %li.span2
          = link_to actress,class: :thumnail do
            %img{:src=>"#{actress.thumbnail_rand}",:onerror=>"this.src='/assets/no_image.gif';this.width='128';this.height='128';this.style.left=0;",:style=>"left:0px;",:alt=>"#{actress.name}",:title=>"#{actress.name}"}
          = link_to actress do
            = actress.name + " #{actress.photos.size.to_s}枚"

- if request.path=="/" 
  = render :partial => "button_list"
