
:javascript
  var nend_params = {"media":9374,"site":38951,"spot":76149,"type":1,"oriented":1};
%script{:type=>"text/javascript",:src=>"http://js1.nend.net/js/nendAdLoader.js"}

= render :partial =>"actresses/tag_list"
%p
= render :partial =>"actresses/what_new"
%p
:javascript
  var nend_params = {"media":9374,"site":38951,"spot":80352,"type":1,"oriented":1};
%script{:type=>"text/javascript",:src=>"http://js1.nend.net/js/nendAdLoader.js"}
%p
%h3 全てのタレント画像

%p
- if @actresses
  - @actresses.each do |actress|
    = link_to actress do
      %button{:class=>"btn",:type=>"submit"}
        = "#{actress.name}"
%p
  = link_to root_path(full: :true)do
    %button{:class=>"btn btn-large btn-block",:type=>"button"}
      = "画像つきで全部見る（#{@actresses.try :size}人）"

