-# paginate
%ul.pager
  - page = params[:page].to_i
  %li{:class=>("disabled" if page.zero? )}
    - if page.zero?
    - else
      = link_to actress_name_path(@actress,page:"#{page-1}") do
        　前へ　

  %li{:class=>("disabled" if page.zero? )}
    = "#{page+1} / #{@actress.page_size.to_s}ページ"

  %li{:class=>("disabled" if @actress.page_size - 1 == page )}
    - if @actress.page_size - 1 == page
    - else 
      = link_to actress_name_path(@actress,page:"#{page+1}") do
        　次へ　

