-# paginate
%ul.pager
  - @page = params[:page].to_i
  %li{:class=>("disabled" if @page.zero? )}
    - if @page.zero?
    - else
      %a{:href=>"/actress/#{@actress.name}?page=#{@page-1}"}　前へ　

  %li{:class=>("disabled" if @page.zero? )}
    = "#{@page+1}ページ / #{@actress.page_size.to_s}ページ"

  %li{:class=>("disabled" if @actress.page_size - 1 == @page )}
    - if @actress.page_size - 1 == @page
    - else 
      %a{:href=>"/actress/#{@actress.name}?page=#{@page+1}"}　次へ　

