-# coding: utf-8
%h1 admin

-# similar-regist
[similar]
= form_tag "/regist_similar" do
  %dt
    form
    %dd
      お名前
      %select{:name=>"name"}
        - @actresses.each do |a|
          %option{:value=>a.name.to_s}= a.name.to_s + (a.display ? "★" : "☆")
    - (101..105).each do |i|
      %dd
        - d = "act" + i.to_s[1,2]
        = d
        %select{:name=> d }
          %option{:value=>""}= ""
          - @actresses.each do |a|
            %option{:value=>a.name.to_s}= a.name.to_s + (a.display ? "★" : "☆")
  %button{:type=>"submit"} submit
