-#nend
:javascript
  var nend_params = {"media":9374,"site":38951,"spot":79043,"type":1,"oriented":1};
%script{:type=>"text/javascript",:src=>"http://js1.nend.net/js/nendAdLoader.js"}


%h2{:itemprop=>"name"}
  ="#{@tag.name}の画像" if @tag

-# social feedback
- require 'uri'
- if params[:page].to_i.zero?
  %a{:href=>"https://twitter.com/share",:class=>"twitter-share-button",:"data-count"=>"horizontal",:"data-url"=>"#{request.url}",:"data-text"=>"#{@title}",:"data-lang"=>"ja"}
    Tweet
  %script{:charset=>"utf-8",:type=>"text/javascript",:src=>"//platform.twitter.com/widgets.js"}
  %a{:href=>"http://b.hatena.ne.jp/entry/#{request.url}",:class=>"hatena-bookmark-button",:"data-hatena-bookmark-title"=>"#{@title}",:"data-hatena-bookmark-layout"=>"standard",:title=>"このエントリーをはてなブックマークに追加"}
    %img{:src=>"http://b.st-hatena.com/images/entry-button/button-only.gif",:alt=>"このエントリーをはてなブックマークに追加",:width=>"20",:height=>"20",:style=>"border: none;"} 
  %script{:type=>"text/javascript",:src=>"http://b.st-hatena.com/js/bookmark_button.js",:charset=>"utf-8",:async=>"async"}
  %iframe{:src=>"//www.facebook.com/plugins/like.php?href=#{URI.encode request.url}&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font=arial&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=283852644973946",:scrolling=>"no",:frameborder=>"0",:style=>"border:none; overflow:hidden; width:450px; height:21px;",:allowTransparency=>"true"}


-# text
- if params[:page].to_i.zero?
  .well
    %p{:itemprop=>"articleBody"}
      = raw @tag.text


-# photos
.container-fluid
  .row-fluid
    - (params[:page].to_i*8).upto((params[:page].to_i*8) +8 - 1) do |i|
      - if photo = @tag.photos_sort_by_points[i]
        .span5
          = link_to actress_photo_path(photo.actress,photo),target: :blank do
            - if i == 0
              %img{:src=>photo.url,:alt=>"#{@tag.name},#{photo.actress.name}",:width=>"40%",:itemprop=>"image"}
            - if i >= 1
              %img{:src=>photo.url,:alt=>"#{@tag.name},#{photo.actress.name}",:width=>"40%"}
          %button{:class=>"btn",:type=>"button"}
            = link_to actress_name_path(photo.actress) do
              = photo.actress.name
          %p


-# paginate
= render :partial => "paginate"

:javascript
  var nend_params = {"media":9374,"site":38951,"spot":76150,"type":1,"oriented":1};
%script{:type=>"text/javascript",:src=>"http://js1.nend.net/js/nendAdLoader.js"}

-# actress list
.well
  = render :partial => "actresses/actress_list"

-# paginate
= render :partial => "paginate"

-# button_list
= render :partial => "actresses/button_list"

-# tag_list
= render :partial => "actresses/tag_list"

= content_for :title do
  = @title
= content_for :url_content do
  = "http://xn--o1q8h80u333a.xn--u9jw89o.com/tag/#{@tag.name}"
-# TODO Tag#release_date
-#= content_for :datePublished do
  = @tag.release_date.to_s[0,10] 

- if !params[:page].to_i.zero?
  = content_for :link_rel_prev do
    = "/tag/#{@tag.name}/?page=#{params[:page].to_i - 1}"
- if @tag.page_size - 1 > params[:page].to_i
  = content_for :link_rel_next do
    = "/tag/#{@tag.name}/?page=#{params[:page].to_i + 1}"
