%div{class: "panel-group",id: "accordion"}
  %div{class: "panel panel-default"}
    %div{class: "panel-heading"}
      %h2{class: "panel-title"}
        %a{:"data-toggle"=>"collapse",:"data-parent"=>"#accordion",href: "#collapseOne"}
          + ActressList
    %div{id: "collapseOne",class: "panel-collapse collapse in"}
      %div{class: "panel-body"}
        .cloud
          - Actress.all.each do |actress|
            %button{:class=>"btn actress_button",:type=>"submit"}
              = "#{actress.name}"

%h2 RegistForm
= form_for "",html: {id: :dummy} do |f|
  .field
    = f.text_field :actress_name, placeholder: "ActressName"
  .field
    = f.text_field :release_date, placeholder: "2012-01-01"
%hr 
- 10.times do |i|
  = form_for "",url: {action: :photo,controller: :regist},remote: true, html: {class: :ajax_trigger} do |f|
    = f.hidden_field :actress_name
    = f.hidden_field :release_date
    %span.field
      = f.text_field :path, placeholder: "http://example.com/jpg.jpg"
    %span.actions
      = f.submit 'Post'
    #notice
