-# paginate
%ul.pager
  - photo_index = @photo.actress.photos_sort_by_points.index(@photo)
  - photo_size  = @photo.actress.photos.released.size
  %li{:class=>("disabled" if photo_index.zero? )}
    - if photo_index.zero?
    - else
      %a{:href=>"/actress/image/#{@photo.actress.name}/#{@photo.actress.photos_sort_by_points[photo_index-1].id}"}　前へ　

  %li{:class=>("disabled")}
    = "#{@photo.actress.name} 人気順 #{photo_index+1} / #{photo_size}枚目"

  %li{:class=>("disabled" if photo_size - 1 == photo_index )}
    - if photo_size - 1 == photo_index
    - else 
      %a{:href=>"/actress/image/#{@photo.actress.name}/#{@photo.actress.photos_sort_by_points[photo_index+1].id}"}　次へ　

