-# coding: utf-8
%p
  = link_to actress_path(@photo.actress,page: "#{(@photo.index.to_f/8).to_i}") do
    %button{:class=>"btn",:type=>"submit"}
      = "#{@photo.actress.name} の画像一覧"

%h2="#{@photo.actress.name}の画像" if @photo.actress

-# photos
.container-fluid
  .row-fluid
    .li.span12
      %img{:src=>@photo.big_url}

= render :partial => "paginate"

-# actress list
.well
  = render :partial => "actresses/actress_list"
= content_for :title do
  = @title

= render :partial => "actresses/button_list"
