%p#notice= notice

%p
  %b Host:
  = @tumblr_user.host
%p
  %b Consumer key:
  = @tumblr_user.consumer_key
%p
  %b Consumer secret:
  = @tumblr_user.consumer_secret
%p
  %b Oauth token:
  = @tumblr_user.oauth_token
%p
  %b Oauth token secret:
  = @tumblr_user.oauth_token_secret
%p
  %b Memo:
  = @tumblr_user.memo
%p
  %b Spend:
  = @tumblr_user.spend
%p
  %b Last spend:
  = @tumblr_user.last_spend

= link_to 'Edit', edit_tumblr_user_path(@tumblr_user)
\|
= link_to 'Back', tumblr_users_path
