!!! 5
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "EroRailsReplacerDbDev"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'


  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-toggle="collapse" data-target="nav-collapse")
            %span.icon-bar
              %a.brand{:href=>"/"}
                = "SiteName"
                %p.sub_title
                  = @title.to_s
    .container-fluid

      .row-fluid
        - require 'uri'
        .span3
          %div.well.sidebar-nav
            %ul.nav.nav-list
            %ul.nav.nav-list
            %ul.nav.nav-list
              -# %li.nav-header publishes
              - (0..2).each do |i|
                .amazlink-box{:style=>"text-align:left;padding-bottom:20px;font-size:small;/zoom: 1;overflow: hidden;"}
                  .amazlink-list{:style=>"clear: both;"}
                    .amazlink-image{:style=>"float:left;margin:0px 12px 1px 0px;"}
                      -# FIXME
                      -# if affi(@actress).items[i]
                        %a{:href=>"#{affi(@actress).items[i].get('DetailPageURL')}",:target=>"_blank",:rel=>"nofollow",:onclick=>"javascript:_gaq.push(['_trackPageview',('/outbound/' + this.href.replace(/https?:\\/\\//,''))]);"}
                          %img{:src=>"#{affi(@actress).items[i].get_element('LargeImage').get('URL') rescue nil}",:style=>"border: none;"}
        .span9
          = bootstrap_flash
          = yield
    
      %footer
        %p &copy; Company 2013
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"

    :javascript
      
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38543763-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

